* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #5e5e5e;
    padding: 30px;
    margin-bottom: 30px;
    color: #f2f2f2;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

#login > h2 {
    margin-bottom: 30px;
    color: #5e5e5e;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #5e5e5e;
    color: #fff;
    cursor: pointer;
}

.login-button-container {
    display: flex;
    justify-content: center;
}

label {
    margin-bottom: 10px;
}


.details-modal {

    position: fixed;
    top: 35%;
    left: 40%;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: #929292;
    border-radius: 10px;
}

.bike {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}

#products-list {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card-buttons {
    display: flex;
    margin-top: 150px;
}

#cart {
    text-align: center;
}

.close {
    cursor: pointer;

}

#cart-list {
    text-align: center;
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
}

#bikes-container {
    text-align: center;
}